body {
  background-color: #b7c9bd;
}

header,
p,
ul {
  margin: 10;
}

h1 {
  color: #744531;
  font-family: Verdana;
}

p {
  color: #9f4b32;
  font-family: Georgia;
}

div {
  width: 200px;
  height: 50px;
  background-color: #355650;
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px;
}